body{
    background-image: url(https://wallpapercave.com/wp/wp3172265.jpg);
}
h1{
    color: white;
    text-align: center;
}

#jj{
    color: white;
}

a{
    text-align: center;
}


